<%= render 'layouts/app_header' %>
<div class="content-sheets">
<div class="panel panel-default" style="margin-top:50px;">
  <div class="panel-heading">
      <h3>Edit My Account</h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="form-group">
        <% f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder:"Name", :autofocus => true %>
      </div>

      <div class="form-group">
        <% f.label :company %>
        <%= f.text_field :company, class: "form-control", placeholder:"Company" %>
      </div>

      <div class="form-group">
        <% f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder:"Email" %>
      </div>

      <div class="form-group">
        <% f.label :enter_current_password %>
        <%= f.password_field :current_password, placeholder:"Enter your current password to update" ,class: "form-control" %>
         <i>You must enter your current password in order to make these changes.</i>
      </div>

    <div class="change-password">
      <a href="#" class="password-link">Change password</a>
        <div class="form-group-password">
              <% f.label :change_my_password %>
              <%= f.password_field :password, class: "form-control", placeholder:"Change my password" , :autocomplete => "off" %>
          
        </div>
    </div>

      <div class="form-group" style="margin-top: 15px;">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
</div>
</div>