<% if user_signed_in? %>



<% else %>
 <p>  <%= link_to "Sign in", new_user_session_path %></p>
<% end %>


<div class = 'saved-searches'>
	Recent Searches
	<div class="nav-divider"></div>
	<%= render 'spreadsheets/result' %>
</div>
<div class='box'>
	<h2>New Opportunities for <%= "#{current_user.company}" %></h2>
	<div class="nav-divider"></div>

		<div class="form-group">
		
			<% @results.each do |job| %>
				<div>
					<p><strong><%= link_to job.job_title, job.url, target: "_blank" %></strong></p>
					<p><%= job.company %>, <small><%= job.formatted_location %></small></p>
					

				</div>
			<hr>
			<% end %>
	   </div>

</div>
