<% if user_signed_in? %>



<% else %>
 <p>  <%= link_to "Sign in", new_user_session_path %></p>
<% end %>

<%= render 'layouts/app_header' %>

<div class="container">
	<div class = 'saved-searches'>
		Recent Searches
		<div class="nav-divider"></div>
		<%= render 'spreadsheets/result' %>
	</div>
	<div class='box'>
		<h2>New Opportunities for <%= "#{current_user.company}" %></h2>
		<div class="nav-divider"></div>

			<div class="form-group">
			
				<% @results.each do |job| %>
					<div class="results-container">
						<div class="search-details">
							<div class="company-details"><%= job.company %>, 
								<small><%= job.formatted_location %></small>
							</div>
							<div>
								<strong><%= link_to job.job_title, job.url, target: "_blank" %></strong>
								<br />
								<small class="posted-time">Posted <%= job.formatted_relative_time %></small>
							</div>
						
							<p class="snippet"><%= job.snippet %></p>
							<hr>
						</div>
						

						
						
					</div>
				
				<% end %>
		   </div>

	</div>
</div>