<% if user_signed_in? %>
<%= render 'layouts/app_header' %>


<% else %>
 <p>  <%= link_to "Sign in", new_user_session_path %></p>
<% end %>
<br />


<div class = 'saved-searches'>
	Recent Searches
	<div class="nav-divider"></div>
	<%= render 'spreadsheets/result' %>
</div>
<div class='box'>
	<h2>Generate Leads</h2>
	<div class="nav-divider"></div>

		<div class="form-group">
		<%= form_tag('/', method: 'get') do %>
			<%= text_field_tag(:q) %>
			<%= submit_tag('Search') %>
		<% end %>

			<% @results.each do |job| %>
				<div>
					<p><strong><%= link_to job.job_title, job.url, target: "_blank" %></strong></p>
					<p><%= job.company %>, <small><%= job.formatted_location %></small></p>
					

				</div>
			<hr>
			<% end %>
	   </div>

</div>
